<template>
  <q-layout view="lHh Lpr lFf">
    <q-header
      elevated
      class=""
    >
      <q-toolbar>
        <q-toolbar-title>
          Cluno challenge
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container class="container">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

export default {
  name: 'LayoutDefault',

  components: {
  },

  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>

<style>
.container {
  margin: 0 1rem;
}
</style>
