<template>
  <div>
    <q-banner
      v-if="error"
      inline-actions
      class="text-white bg-red"
    >
      {{ error }}
    </q-banner>

    <q-layout
      v-if="!error && car"
      view="lHh Lpr lFf"
    >
      <q-header
        elevated
        class=""
      >
        <q-toolbar>
          <q-toolbar-title>
            Cluno code {{ car.teaser.title }}
          </q-toolbar-title>
        </q-toolbar>
      </q-header>


      <q-page-container class="container">
        <div class="car-details">
          <div class="crumbs">
            <q-breadcrumbs separator=">">
              <q-breadcrumbs-el
                label="Autos"
                to="/"
              />
              <q-breadcrumbs-el :label="car.teaser.title" />
            </q-breadcrumbs>
          </div>

          <div class="grid-2">
            <q-carousel
              v-model="slide"
              animated
              arrows
              thumbnails
              infinite
            >
              <q-carousel-slide
                v-for="(pic, index) in car.images"
                :key="pic.src"
                :name="index"
                :img-src="pic.src"
              />
            </q-carousel>

            <q-card class="info-card">
              <q-card-section>
                <div class="text-h6">
                  {{ car.teaser.title }}
                </div>
                <div class="text-subtitle2">
                  {{ car.pricing.price }}€ pro Monat
                </div>
              </q-card-section>
            </q-card>
          </div>

          <div class="grid-2">
            <q-card
              flat
              bordered
              class="my-card"
            >
              <q-card-section>
                <div class="text-h6">
                  Umwelt
                </div>
              </q-card-section>

              <q-card-section>
                <div class="grid-2">
                  <div>Verbrauch (Stadt)</div><div>{{ car.car.environment.consumptionCity }}</div>
                  <div>Verbrauch (Land)</div><div>{{ car.car.environment.consumptionCountry }}</div>
                  <div>CO2</div><div>{{ car.car.environment.emissionCO2 }}</div>
                  <div>CO2</div><div>{{ car.car.environment.emissionCO2 }}</div>
                  <div>Emissionsklasse</div><div>{{ car.car.environment.emissionLabel }} - {{ car.car.environment.emissionClass }}</div>
                </div>
              </q-card-section>
            </q-card>

            <q-card
              flat
              bordered
              class="my-card"
            >
              <q-card-section>
                <div class="text-h6">
                  Eigenschaften
                </div>
              </q-card-section>

              <q-card-section>
                <div
                  v-for="(property, index) in car.car.equipmentDetails"
                  :key="index"
                >
                  {{ property.name }}
                </div>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import dispatchMixin from '../../dispatchMixin'

export default {
    name: 'CarDetails',

    mixins: [
      dispatchMixin
    ],

    data(){
        return {
            slide: 0,
        }
    },

    computed: {
        ...mapGetters({
            car: 'getSelectedCar'
        })
    },

    async mounted(){
        if (this.$route.params.id) {
            await this.$dispatch('loadDisplayCar', this.$route.params.id, 'Could not load car')
        }
    },
}
</script>

<style lang="scss">

.car-details {

    .crumbs {
        font-size: 3rem;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }

    .info-card {

      box-shadow: none;

      .text-h6 {
          font-size: 1.2rem;
      }

      .text-subtitle2 {
          color: #18a317;
          font-size: 1.7rem;
      }
    }
}

</style>
