<template>
  <div class="car-filter">
    <div>
      <div>
        Preis: {{ filter.range.min }}€ bis {{ filter.range.max }}€
      </div>
      <q-range
        v-model="filter.range"
        :min="200"
        :max="3000"
        @change="changed"
      />
    </div>
  </div>    
</template>

<script>
export default {
    props: {
        filter: {
            required: true,
            type: Object,
            default: ()=>{ return {
                range: {min: 200, max: 3000}
            }}
        }
    },

    methods: {
        changed(){
            this.$emit('change', this.filter)
        }
    },
    
}
</script>

<style lang="scss">

</style>