<template>
  <q-layout view="lHh Lpr lFf">
    <q-header
      elevated
      class=""
    >
      <q-toolbar>
        <q-toolbar-title>
          Cluno code challenge cars
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container v-if="error">
      <q-banner
        v-if="error"
        inline-actions
        class="text-white bg-red"
      >
        {{ error }}
      </q-banner>
    </q-page-container>


    <q-page-container
      v-if="cars"
      class="car-selection container"
    >
      <div>
        <car-filter 
          :filter="filter" 
          @change="setFilter"
        />
      </div>
      <div class="cars">
        <q-card
          v-for="car in filteredCars"
          :key="car.title"
          class="car"
          @click.stop="showCar(car)"
        >
          <q-img :src="car.teaser.teaserImage" />

          <q-card-section>
            <div class="text-h6">
              {{ car.teaser.title }}
            </div>
            <div class="text-subtitle2">
              {{ car.pricing.price }}€ pro Monat
            </div>
          </q-card-section>
        </q-card>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import {mapGetters} from 'vuex'

import dispatchMixin from '../../dispatchMixin';

import CarFilter from './CarFilter.vue'

export default {
  name: 'CarList',

  components: {
    CarFilter,
  },

  mixins: [
    dispatchMixin
  ],

  data () {
    return {
      filter: {
        range: {min: 200, max: 3000}
      }
    }
  },

  computed: {
      ...mapGetters({
          cars: 'getCars'
      }),
      filteredCars() {
        return this.cars.filter( car => {
            let result = false
            let price = car.pricing.price
            if (price>=this.filter.range.min && price<=this.filter.range.max) {
              result = true
            }
            return result
        })
      }
  },

  mounted(){
      if (this.$route.query.car) {
          this.$router.push({
              name: 'carinfo',
              params: {
                  id: this.$route.query.car
              }
          })
      } else if (!this.cars || !this.cars.length) {
        this.$dispatch('loadCars', null, 'Could not get car informations')
      }
  },

  methods: {
      showCar(car){
          this.$router.push({
              name: 'carinfo',
              params: {
                  id: car.teaser.title.toLowerCase().replace(/\s+/g, '-') + '-' + car.id
              }
          })
      },

      setFilter(newFilter) {
        this.filter = newFilter
      }
  }
}
</script>

<style>

.car-selection {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 1rem;
}

.cars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.car {
    cursor: pointer;
    text-align: center;
     box-shadow: none;
}

.car:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.car .text-h6 {
    font-size: 1.2rem;
}

.car .text-subtitle2 {
    color: #18a317;
    font-size: 1.7rem;
}

</style>
